.jumbotron-food {
	background: url('../images/food.jpg') center center / cover no-repeat;
}

.search-form {
	margin-bottom: 20px;

	input {
		padding: 20px;
	}
}

.search-results {
	max-height: 100%;
}

.search-results-items {
	@media screen and (min-width: 768px) {
		max-height: calc(100vh - 246px);
		overflow-y: auto;
	}
}

.food-list {
	@media screen and (min-width: 768px) {
		max-height: calc(100vh - 246px); // TODO: use Javascipt to decide the height
		overflow-y: auto;
	}
}

.food-item {

	&:hover {
		background-color: darken($btn-default-bg, 5%);
	}

	.nutrition-facts {
		border-top: 1px solid $panel-inner-border;

		hr {
			margin: 5px 0;
		}
	}
}

.food-abstract {
	max-width: calc(100% - 50px);
}

.search-results-title {
	margin-bottom: 20px;
}

.goal-edit {
	margin-bottom: 6px;
}

.progress .center {
	position: absolute;
	display: block;
	width: 80%;
	color: black;
}

.progress {
	.bar-step {
		position:absolute;
		margin-top: 0;
		z-index:1;
		font-size:12px;
	}

	.label-line {
		float: right;
		background: lightgray;
		height: $line-height-computed;
		width: 1px;
		margin-left: 5px;
	}

	.label-percent {
		float: right;
		margin-left: 5px;
	}
}